.root{
    -fx-background-color: #383838;
}           
.label{
     -fx-text-fill: white;
     -fx-font-size: 20;
     -fx-font-family: "Lucida Console";
     -fx-alignment: center;
     
}
#topLabel{
    -fx-font-size: 60;
}